# Flutter-related
.dart_tool/
.packages
.pub-cache/
build/
**/Flutter/ephemeral/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Pods/
ios/.symlinks/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
macos/xcuserdata/
frontend/build/macos/ModuleCache.noindex/
**/ModuleCache.noindex/
*.swiftmodule
modules.timestamp
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/Flutter-Profile.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift

# Android
android/.gradle/
android/.idea/
android/local.properties
android/build/

# Xcode-related
*.xcuserstate
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
**/dgph
**/xcuserdata/

# VSCode / IntelliJ
.vscode/
.idea/

# Other
*.iml
*.lock



**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
